[submodule "external/pmp"]
	path = external/pmp
	url = https://github.com/pmp-library/pmp-library.git
[submodule "editor/external/o3de"]
	path = editor/external/o3de
	url = https://github.com/o3de/o3de.git
